<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management - Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <a href="{{ url_for('display_users_route') }}" class="display-users">Display Users</a>
    <a href="{{ url_for('logout') }}" class="logout">Logout</a>
</body>
</html>
