<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management - Display Users</title>
</head>
<body>
    <h1>Users</h1>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Password Hash</th>
        </tr>
        {% for user_info in users_info %}
            <tr>
                <td>{{ user_info[0] }}</td>
                <td>{{ user_info[1] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
